.cardApp {
    cursor: pointer;
}

.sectionTop.ampliaTop {
    max-width: 700px;
    padding-left: 15px;
}

.cardApp.greeting img {
    max-width: 220px;
    width: 100%;
}

.cardGroup.greetingGroup {
    margin-top: 35px;
}