@font-face {
    font-family: "Libras 2019";
    src: local(Raleway), url(../assets/fonts/Libras2019-Regular.ttf);
 }

 @font-face {
    font-family: "LIBRAS PROF CLEBER COUTO";
    src: local(Raleway), url(../assets/fonts/Libras2013.ttf);
 }

 @font-face {
    font-family: "Libras-2016";
    src: local(Raleway), url(../assets/fonts/Libras-2016.ttf);
 }

 @font-face {
    font-family: "Libras Black 2020";
    src: local(Raleway), url(../assets/fonts/LibrasBlack2020-Regular.ttf);
 }

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 html, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ededed;
 }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    min-height: calc(100vh - 63px);
}

@media only screen and (max-width: 360px) {
   article {
      min-height: calc(100vh - 180px);
  }
}

@media only screen and (max-width: 412px) {
   article .sectionTop {
      padding-left: 15px;
  }
}

@media only screen and (max-width: 417px) {
   main {
      min-height: calc(100vh - 80px);
   }
   .footerHome {
      margin-top: 20px !important;
   }
}

 
.footerHome {
   margin-top: 23px;
}

footer {
    align-self: end;
    grid-column: 2;
}

a {
    color: #3f51b5;
    text-decoration: none;
}

a:hover {
    color: #00bcd4;
}

a:active {
    color: #03a9f4;
}


/* PAGES */

.sectionTop {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

.sectionTop span {
    padding: 12px;
    vertical-align: super;
    font-weight: bold;
    font-size: 20px;
}

.linkTop {
    font-size: 30px;
}

.formControl {
   padding: 4px;
   border-radius: 6px;
   font-size: 16px;
}

.formGroup {
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px;
 }

 .formGroup label {
    display: block;
    font-size: 22px;
    padding: 5px;
 }
 
 .result {
    font-size: 70px;
    border: 2px solid #979797;
    border-radius: 10px;
    background: #fff;
    padding: 10px;
    padding-top: 15px;
    text-align: center;
    word-break: break-word;
 }

 .fontLibrasA {
   font-family: "Libras 2019";
 }

 .fontLibrasB {
    font-family: "Libras-2016";
    padding-top: 25px;
 }

 .fontLibrasC {
   font-family: "LIBRAS PROF CLEBER COUTO";
 }

 .fontLibrasD {
    font-family: "Libras Black 2020";
 }
 
 .inputCamp {
    border-radius: 8px;
    border: 2px solid #979797;
    padding: 10px;
    font-size: 20px;
    width: 100%;
 }

 .link-button {
   background-color: transparent;
   border: none;
   cursor: pointer;
   display: inline;
   margin: 0;
   padding: 0;
   color: #3f51b5;
   font-weight: 900;
 }

 .link-button:hover {
   text-decoration: underline;
 }

 .option-letter {
   display: flex;
   justify-content: center;
 }

 .option-letter span {
    display: block;
    background: #fff;
    border-radius: 10px;
    padding: 5px;
 }

 .option-letter .fontSizeA {
   font-size: 38px;
   margin-top: 21px;
   padding-top: 10px;
 }

 .option-letter .fontBack {
   background: #66e5f5;
   color: #3f51b5;
   cursor: default;
 }

 .option-letter .fontSizeB {
    font-size: 35px;
    padding: 10px;
    margin-left: 10px;
 }

.iconClose svg {
   float: right;
   border: 1px solid #ccc;
   border-radius: 50%;
   padding: 3px;
   font-size: 25px;
   color: #fff;
   background-color: #888;
 }

.react-modal-sheet-backdrop {
   background-color: #ebe9e9;
   color: #000;
   padding: 10px;
 }
 .react-modal-sheet-container {
   background-color: #ebe9e9 !important;
   color: #000;
   padding: 10px;
   overflow: auto;
 }
 .react-modal-sheet-header {
   background-color: #ebe9e9;
   color: #000;
   padding: 10px;
 }
 
 .react-modal-sheet-drag-indicator {
   background-color: #ebe9e9;
   color: #000;
   padding: 10px;
 }
 
 .react-modal-sheet-content {
   background-color: #ebe9e9;
   color: #000;
   padding: 10px;
   touch-action: manipulation !important;
 }
