.fundoHands {
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 535px;
    border: 2px solid #979797;
    border-radius: 10px;
    background: #fff;
    padding: 10px;
    padding-top: 15px;
    text-align: center;
    word-break: break-word;
}

/* PARAMETERS */

.fundoParametros {
   background: url("../../assets/imgs/parametros.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   height: 345px;
   width: 347px;
   display: flex;
   justify-content: space-evenly;
   background-color: #fff;
 }

 .parameterAbbr {
   color: #ff0000;
   font-weight: bold;
   text-transform: uppercase;
   font-size: 16px;
   border: 1px solid #ccc;
   border-radius: 50%;
   padding: 5px;
   background-color: #e9e9e9;
 }

 .parameterConfig {
   position: relative;
   top: 110px;
 }

 .parameterArticulation {
   position: relative;
   right: 8px;
   top: 10px;
 }

 .parameterDirection {
   position: relative;
   right: 2px;
   bottom: 10px;
 }

 .parameterMoviment {
   position: relative;
    top: 12px;
 }

 .parameterFace {
   position: relative;
    top: 52px;
    right: 12px;
 }

 .legend {
  text-transform: capitalize;
 }

/*  CONFIGURATIONS  */

.numberConfig {
  position: absolute;
  background-color: #777;
  color: #fff;
  border-radius: 50%;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 13px;
  display: inline;
  left: 11px;
}

.config {
    display: inline;
}

.imgConfig {
    width: 100%;
    max-width: 80px;
    padding: 5px;
    border-radius: 10px;
}

/*  DETAIL CONFIGURATION  */

.imgConfigDetail {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
}

@media only screen and (max-width: 540px) {
    .fundoHands {
        margin: 8px;
        margin-top: 25px;
        width: auto;

   }
 }

 .linkOpen {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    color: #3f51b5;
    font-weight: 900;
    font-size: 25px;   
    position: absolute;
    top: -33px;
    right: 0px; 
 }

 .sheet .title {
    font-weight: bold;
    margin-bottom: 10px;
 }

 .sheet .content {
    padding: 10px;
 }

 /*  MOVIMENTS  */

 .moviment {
    display: inline-block;
    margin: 10px;
 }

 .moviment .imgMov {
    width: 100%;
    max-width: 130px;
 }

 .moviment .imgMovParam {
   width: 100%;
   max-width: 120px;
}

 /*  DIRECTIONALITY  */

 .direction {
    display: inline-block;
    margin: 10px;
 }

 .direction .imgDir {
    width: 100%;
    max-width: 130px;
 }

.imgDirectorParam {
   width: 100%;
   max-width: 100px;
}

 .direction .legend {
    font-size: 12px;
 }

 /*  ARTICULATION  */

 .fundoCorpo, .fundoEspaco {
   margin: 0 auto;
   margin-top: 25px;
   margin-bottom: 10px;
   width: 100%;
   max-width: 535px;
   border: 2px solid #979797;
   border-radius: 10px;
   background: #fff;
   padding: 10px;
   padding-top: 15px;
   text-align: center;
   word-break: break-word;
}

 .bodyPoint {
   background: url("../../assets/imgs/articulation/corpo.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: local;
   background-size: 250px;
   height: 440px;
 }

 .spacePoint {
   background: url("../../assets/imgs/articulation/espaco.jpg");
   background-repeat: no-repeat;
   background-position: center;
 }


 /* EXPRESSION  */
 .expression {
   display: inline-block;
   margin: 10px;
 }

 .imgExp {
   width: 100%;
   max-width: 100px;
 }

 /* ARTICULATION BODY */
 .head {
  position: relative;
  bottom: 3px;
  right: 20px;
}

.head img {
  width: 90px;
}

.forehead {
  position: relative;
  bottom: 18px;
  right: 21px;  
}

.forehead img {
  width: 56px;
}

.eye {
  position: relative;
  bottom: 20px;
  right: 20px;
}

.eye img {
  width: 73px
}

.ear {
  position: relative;
  bottom: 53px;
  left: 24px;
  display: inline;
}

.ear img {
  width: 30px;
}

.nose {
  position: relative;
  bottom: 146px;
  right: 18px;
}

.mouth {
  position: relative;
  bottom: 154px;
  right: 20px;
}

.cheek {
  position: relative;
  bottom: 96px;
  right: 44px;
}

.cheek img {
  width: 25px;
}

.chin {
  position: relative;
  bottom: 162px;
  right: 20px;
}

.shoulder {
  position: relative;
  bottom: 200px;
  right: 20px;
}

.shoulder img {
  width: 200px;
}

.neck {
  position: relative;
  bottom: 172px;
  right: 21px;
}

.neck img {
  width: 45px;
}

.halfChest {
  position: relative;
  bottom: 290px;
  right: 30px;
}

.halfChest img {
  width: 55px;
}

.chest {
  position: relative;
  bottom: 222px;
  right: 30px;
}

.chest img {
  width: 145px;
}

.palmHand {
  position: relative;
  bottom: 240px;
}

.palmHand img {
  width: 42px;
}

.handPulse {
  position: relative;
  bottom: 325px;
  left: 16px;
}

.handPulse img {
  width: 50px;
}

.arm {
  position: relative;
  bottom: 422px;
  left: 72px;
  display: inline;
}

.arm img {
  width: 55px;
}

.elbow {
  position: relative;
  bottom: 435px;
  left: 88px;
  display: inline;
}

.elbow img {
  width: 37px;
}

.abdomen {
  position: relative;
  bottom: 500px;
  right: 20px;
} 

 /* SHEET CONFIGURATION */
 
 h2.marginBottom {
   font-weight: bold;
   margin-bottom: 12px;
 }

 svg .sizeIcon {
  font-size: 16px;
 }

 .helpParameters {
  position: absolute;
  right: 3px;
  bottom: 345px;
}