.cardGroup {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cardApp {
    display: block;
    margin: 10px;
    text-align: center;
}

.cardApp img {
    border-radius: 10px;
    border: 2px solid #607d8b;
    width: 140px;
    height: auto;
}

.cardApp img:hover {
    transition: 0.5s;
    filter: brightness(80%);
}

.cardHome {
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
}