.sectionTop span {
    padding: 12px;
    vertical-align: super;
    font-weight: bold;
    font-size: 20px;
}

.linkTop {
    font-size: 30px;
}

.formGroup.number {
    max-width: 400px;
    width: 100%;
 }

 .inputCamp.number {
    font-size: 25px;
 }

 .result.number {
    font-size: 8rem;
 }
