/* QUIZ */

.NextStep{
    background-color: #009e00;
    color:#fff;
    padding: 10px 30px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}
.NextStep:hover{
    background-color: green;
}
.NextStep[disabled]{
    display: none;
}

.finalPage{
    text-align: center;
    padding-bottom: 10px;
}

.finalPage .titleFinal {
    text-align: center;
    margin: 15px 0;
    font-size: 25px;
    font-weight: bold;
    color: #008416;
    text-transform: none;
    text-shadow: none;
}

/*  QUESTION  */

.Content h1{
    margin: 15px 0;
    margin-bottom: 30px;
    font-size: 25px;
    font-family: Arial,sans-serif;
    font-weight: normal;
    color: #0019a1;
    text-transform: none;
    text-shadow: none;
    text-align: left;
}

.Content {
    background: #fff;
    padding: 15px;
    padding-top: 0.2px;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

aside.quiz {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

/* ANSWER  */

.Answers{
    list-style: none;
    margin: 0;
    padding: 0;
}
.Answers li{
    padding: 15px;
    background-color: #ccc;
    margin: 0 0 5px;
    border-radius: 5px;
}
.Answers li:hover{
    cursor: pointer;
    background-color: #a2a2a2;
}
.Answers .correct,
.Answers .correct:hover {
    background-color: #1db900;
}
.Answers .incorrect,
.Answers .incorrect:hover {
    background-color: #ec0000;
    color: #fff;
}
.Answers[disabled] {
    pointer-events: none;
    opacity: 0.7;
}

.correctAnswer {
    background-color: lightgreen;
    border: 1px solid green;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
    display: table;
    border-radius: 5px;
}

.incorrectAnswer {
    background-color: lightcoral;
    border: 1px solid red;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
    display: table;
    border-radius: 5px;
}

.btnPlayAgain {
    background: #3f51b5;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
}

.btnPlayAgain:hover {
    background: #00bcd4;
    color: #3f51b5;
}

.imgAnswer {
    width: 100%;
}

.imageSize {
    width: 100px;
}

.correctAnswer svg {
    font-size: 35px;
    vertical-align: middle;
    background: blue;
    color: #fff;
    padding: 5px;
    border-radius: 15px;
    margin-left: 5px;
}

.incorrectAnswer svg {
    font-size: 35px;
    vertical-align: middle;
    background: blue;
    color: #fff;
    padding: 5px;
    border-radius: 15px;
    margin-left: 5px;
}

.stepsTop {
    background-color: #02d6f1;
    border-radius: 5px;
    border: 1px solid #001bb3;
    color: #001bb3;
    padding: 5px;
    display: inline-block;
    margin-top: 15px;
}

.fontSize {
    margin-top: 20px;
    font-size: 90px;
}

.fontSizeB {
    margin-top: 20px;
    font-size: 70px;
}

.divQuestion {
    display: block;
    text-align: center;
}

.imgQuestion {
    margin-top: 20px;
    width: 100%;
    max-width: 200px;
    border-radius: 15px;
    border: 2px solid darkblue;
}

.finalPage .scoreFinal {
    font-size: 20px;
    background-color: #10e4ff;
    display: inline-block;
    padding: 10px;
    border: 1px solid darkblue;
    border-radius: 10px;
}

.finalPage .scorePhase {
    padding: 20px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 18px;
}